<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div *ngFor="let gender of petsUnderHeadingOfGender; last as last">
        <h2 class="badge badge-secondary">{{gender.gender}}</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let pet of gender.pets | orderBy: 'name'">
            <span>{{pet.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>